@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #000; /* full black background */
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}